.post-card-list {
    margin: 0;
    list-style: none;
}

.post-card {
    padding: 0.25rem 0;
}

.post-card-title {
    font-size: 1.5rem;
    font-weight: 600;

    color: var(--text);
    text-decoration: none;
}

.post-card-title:hover {
    color: var(--link-hover);
}

.post-card-meta {
    display: flex;
    align-items: baseline;
    gap: 2.5rem;

    color: var(--muted);
    font-size: 0.8rem;
}

.post-card-date {
    display: inline-flex;
    align-items: center;
    gap: 0.35rem;
    color: var(--date);
}

.post-card-description {
    margin: 0rem;
    color: var(--description);
}
