<footer class="site-footer">
    <ul class="footer-links">
        <li class="footer-item">
            <a class="footer-link" href="https://github.com/vleksis" rel="me">
                <span class="icon icon-github" aria-hidden="true"></span>
                <span>Github</span>
            </a>
        </li>

        <li class="footer-item">
            <a class="footer-link" href="mailto:vleksis@yandex.ru">
                <span class="icon icon-mail" aria-hidden="true"></span>
                <span>Get in touch</span>
            </a>
        </li>
    </ul>
</footer>
